[Unit]
Description=Cloudflare Tunnel for Clarklab API
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
Environment=CLOUDFLARED_HOME=/etc/cloudflared
ExecStart=/usr/bin/cloudflared --no-autoupdate --config /etc/cloudflared/config.yml tunnel run
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
